@charset "utf-8";
/* CSS Document */
#app_top_bar{
	position:fixed;
	top:0;
	left:0;
    background-color:#000;
	height:70px;
	width:100%;
	z-index:200;
	visibility:hidden;
	
}

#app_logo{
	position:absolute;
	top:5px;
	right:10px;
	height:55px;
	width:55px;
	
}